<div class="flex flex-col items-center justify-center h-screen">
  <form [formGroup]="loginForm">
    <div class="card">
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-5/12 flex flex-col items-center justify-center gap-3 py-5">
          <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input pInputText id="email" type="text" formControlName="email"/>
          </div>
          <div class="flex flex-col gap-2">
            <label for="password">Password</label>
            <input pInputText id="password" type="password" formControlName="password" (keydown)="loginUser($event)"/>
          </div>
          <div class="flex">
            <p-button (onClick)="loginUser()" label="Login" icon="pi pi-user" class="w-full max-w-[17.35rem]" styleClass="w-full mx-auto"/>
          </div>
        </div>
        <div class="w-full md:w-2/12 my-10 mx-0 md:my-0 md:mx-10">
          <p-divider layout="vertical" class="!hidden md:!flex"><b>OR</b></p-divider>
          <p-divider layout="horizontal" class="!flex md:!hidden" align="center"><b>OR</b></p-divider>
        </div>
        <div class="w-full md:w-5/12 flex items-center justify-center py-5">
          <p-button [routerLink]="'/auth/register'"
                    label="Sign Up"
                    icon="pi pi-user-plus"
                    severity="success"
                    class="w-full max-w-[17.35rem]"/>
        </div>
      </div>
    </div>
  </form>
</div>
