<app-story-toolbar (storySaved)=saveStory()></app-story-toolbar>
<div class="">
  <div class="flex flex-col items-center mb-15">
    <p-floatlabel variant="on" class="w-full mb-5">
      <input type="text" id="storyTitle" class="w-full" pInputText [(ngModel)]="storyTitle"/>
      <label for="storyTitle">It all begins with the title</label>
    </p-floatlabel>
    <div class="flex items-center gap-2">
      <p-avatar image="https://primefaces.org/cdn/primevue/images/avatar/amyelsner.png" shape="circle"/>
      <span class="font-bold">{{ currentUser?.authorName }}</span>
    </div>
    <p-multiselect [options]="categories" [(ngModel)]="selectedCategories" [filter]="true" optionLabel="label" placeholder="Select Categories" [maxSelectedLabels]="3" styleClass="w-full md:w-80"></p-multiselect>
  </div>
</div>

<div>
  <div>
    <p class="text-2xl/10">
      <p-floatlabel variant="on" class="w-full">
        <textarea pTextarea id="storyContent"
                  [(ngModel)]="storyContent"
                  autoResize="true"
                  rows="5"
                  cols="30"
                  style="resize: none"
                  class="h-full w-full"></textarea>
        <label for="storyContent">Once upon a time...</label>
      </p-floatlabel>
    </p>

  </div>
  <br>
</div>
