<p-card [header]="'auth.resetPassword.title' | translate">
  @if (invalidLink()) {
    <p-message
      severity="warn"
      [text]="'auth.resetPassword.invalidLink' | translate"
      styleClass="w-full mb-4" />
    <p class="text-center text-sm">
      <a routerLink="/auth/forgot-password" class="text-primary font-medium">{{
        'auth.resetPassword.requestNewLink' | translate
      }}</a>
    </p>
  } @else {
    @if (errorMessage()) {
      <p-message severity="error" [text]="errorMessage()!" styleClass="w-full mb-4" />
    }

    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label for="password">{{ 'auth.resetPassword.password' | translate }}</label>
        <p-password
          id="password"
          formControlName="password"
          [toggleMask]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
          autocomplete="new-password" />
      </div>

      <div class="flex flex-col gap-2">
        <label for="confirmPassword">{{ 'auth.resetPassword.confirmPassword' | translate }}</label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
          styleClass="w-full"
          inputStyleClass="w-full"
          autocomplete="new-password" />
      </div>

      <p-button
        type="submit"
        [label]="'auth.resetPassword.submit' | translate"
        styleClass="w-full"
        [loading]="loading()" />
    </form>
  }
</p-card>
