.writing-block {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.writing-block__content {
  display: block;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.writing-block__content .writing-avatar-anchor,
.writing-block__content .writing-avatar-anchor .p-avatar,
.writing-block__content .writing-avatar-anchor .p-avatar-text {
  text-indent: 0;
}
